.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .4)), 
              url(./Uploads/SignUpCover.png);
              
  background-size: cover;
  background-position : center;

}

form {
  background: #FFF;
  padding: 0 60px;
  border-radius: 10px;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  color: palevioletred;
  text-align: center;

}
button{
  width: 90%;
  height: 50px;
  padding: 10px;
  border: none;
  background: palevioletred;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0 35px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
